<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width = '200' align = 'right'>

## *AIB / SECTION 2 / SPRINT 3 / NOTE 1*

# üìù Assignment
---
# Choose your ML problems

### 1) Î∂ÑÎ•ò/ÌöåÍ∑Ä Î¨∏Ï†ú
**(Urclass Quiz)** Îã§Ïù¥ÏïÑÎ™¨ÎìúÎ•º Î≥¥Í¥ÄÌïòÍ∏∞ ÏúÑÌï¥ Í∏àÍ≥†Î•º ÎßåÎì§ÏóàÏäµÎãàÎã§. Í∏àÍ≥†Í∞Ä ÎÑàÎ¨¥ ÏûëÏïÑÏÑú Í∞ÄÍ≤©Ïù¥ ÏÉÅÏúÑ 25%Ïù∏ Í≤ÉÎßå Î≥¥Í¥ÄÌïòÎ†§Í≥† Ìï©ÎãàÎã§. Ïù¥Î•º ÏúÑÌï¥ `price` ÌäπÏÑ±ÏùÑ Ïù¥Ïö©Ìï¥ Í∏àÍ≥†Ïóê Î≥¥Í¥ÄÌï† Îã§Ïù¥ÏïÑÎ™¨ÎìúÏôÄ Í∑∏Î†áÏßÄ ÏïäÏùÄ Í≤ÉÏúºÎ°ú Î∂ÑÎ•òÌïòÎäî Ïù¥ÏßÑÎ∂ÑÎ•ò Ïª¨ÎüºÏùÑ ÎßåÎì§Ïñ¥ ÌÉÄÍ≤ü ÌäπÏÑ±ÏúºÎ°ú ÏÇ¨Ïö©Ìï† Í≤ÉÏûÖÎãàÎã§. ÌÉÄÍ≤ü ÌäπÏÑ±Ïùò ÏµúÎπàÍ∞íÏùò ÎπàÎèÑÏàòÎ•º Ï†ÅÏñ¥Ï£ºÏÑ∏Ïöî.
- `top25`ÎùºÎäî ÏÉàÎ°úÏö¥ ÌÉÄÍ≤üÎ≥ÄÏàò(Ïª¨Îüº)Î•º ÎßåÎì§Ïñ¥ Ï£ºÏÑ∏Ïöî.
- `price` Í∞íÏù¥ ÏÉÅÏúÑ 25% Ïù¥ÏÉÅÏù¥Î©¥ `True`, ÏÉÅÏúÑ 25% ÎØ∏ÎßåÏù¥Î©¥ `False`Í∞Ä ÎêòÎèÑÎ°ù `top25`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî.

In [3]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ### 
import seaborn as sns
diamonds = sns.load_dataset('diamonds')

### 2) Îç∞Ïù¥ÌÑ∞ ÎàÑÏàò(Data leakage)
- ÌäπÏÑ± `X`ÏôÄ ÌÉÄÍ≤ü `y`Î•º Î∂ÑÎ¶¨ÌïòÏó¨ Ï†ÄÏû•ÌïòÏÑ∏Ïöî.
  - ÌäπÏÑ±ÏùÄ ÌÉÄÍ≤üÏùÑ Ï†úÏô∏Ìïú Î™®Îì† Ïª¨ÎüºÏûÖÎãàÎã§. 
- `X`ÏôÄ `y` Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®/Í≤ÄÏ¶ù ÏÑ∏Ìä∏Î°ú ÎÇòÎàÑÏÑ∏Ïöî. 
  - ÌõàÎ†®Í≥º Í≤ÄÏ¶ù ÏÑ∏Ìä∏Ïùò ÎπÑÎäî 8:2Î°ú Ìï©ÎãàÎã§.
  - `random_state=2`Î°ú ÏÑ§Ï†ïÌï©ÎãàÎã§. 
- Í≤∞Ï†ïÌä∏Î¶¨ Î™®Îç∏ÏùÑ ÌïôÏäµÏãúÌÇ§ÏÑ∏Ïöî. 
  - `random_state=2`Î°ú ÏÑ§Ï†ïÌï©ÎãàÎã§.
- **(Urclass Quiz) Í≤ÄÏ¶ù ÏÑ∏Ìä∏Ïùò Ï†ïÌôïÎèÑÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî.** 
- **(Urclass Quiz) Í≤ÄÏ¶ù ÏÑ∏Ìä∏Ïùò Ï†ïÌôïÎèÑÎäî Ï†ÅÏ†àÌïúÍ∞ÄÏöî? Ï†ÅÏ†àÌïòÏßÄ ÏïäÏùÄÍ∞ÄÏöî? Í∑∏ Ïù¥Ïú†Î•º Ìïú Î¨∏Ïû•ÏúºÎ°ú ÏÑ§Î™ÖÌïòÏÑ∏Ïöî.**
- **(Urclass Quiz) Í≤ÄÏ¶ù ÏÑ∏Ìä∏Ïùò Ï†ïÌôïÎèÑÍ∞Ä Ï†ÅÏ†àÌïòÏßÄ ÏïäÎã§Î©¥ Î¨∏Ï†úÎ•º ÌååÏïÖÌïòÏó¨ Ìï¥Í≤∞ÌïòÍ≥†, Î™®Îç∏ÏùÑ Îã§Ïãú ÌïôÏäµÌïú Îã§Ïùå Í≤ÄÏ¶ù ÏÑ∏Ìä∏Ïùò Ï†ïÌôïÎèÑÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [2]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.5.1.post0-py2.py3-none-any.whl (72 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 72 kB 918 kB/s
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.5.1.post0

In [4]:
diamonds.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
carat,53940.0,NaN,NaN,NaN,0.79794,0.474011,0.2,0.4,0.7,1.04,5.01
cut,53940,5,Ideal,21551,NaN,NaN,NaN,NaN,NaN,NaN,NaN
color,53940,7,G,11292,NaN,NaN,NaN,NaN,NaN,NaN,NaN
clarity,53940,8,SI1,13065,NaN,NaN,NaN,NaN,NaN,NaN,NaN
depth,53940.0,NaN,NaN,NaN,61.749405,1.432621,43.0,61.0,61.8,62.5,79.0
table,53940.0,NaN,NaN,NaN,57.457184,2.234491,43.0,56.0,57.0,59.0,95.0
price,53940.0,NaN,NaN,NaN,3932.799722,3989.439738,326.0,950.0,2401.0,5324.25,18823.0
x,53940.0,NaN,NaN,NaN,5.731157,1.121761,0.0,4.71,5.7,6.54,10.74
y,53940.0,NaN,NaN,NaN,5.734526,1.142135,0.0,4.72,5.71,6.54,58.9
z,53940.0,NaN,NaN,NaN,3.538734,0.705699,0.0,2.91,3.53,4.04,31.8

In [4]:
diamonds.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [5]:
diamonds.duplicated().sum()

146

In [6]:
diamonds.drop_duplicates(inplace = True)

In [15]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z  top25
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43      0
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31      0
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31      0
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63      0
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75      0

In [7]:
import numpy as np

In [8]:
diamonds['top25'] = np.where(diamonds['price'] >= np.percentile(diamonds['price'], 75), 1, 0)

In [10]:
diamonds.top25.value_counts()

0    40345
1    13449
Name: top25, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

features = diamonds.drop('top25', axis = 1).columns
target = 'top25'

X = diamonds[features]
y = diamonds[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 2, test_size = 0.2)

X_train.size

430350

In [17]:
from category_encoders import OrdinalEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import make_pipeline

pipe = make_pipeline(
    OrdinalEncoder(),
    DecisionTreeClassifier(max_depth=5, random_state = 2),
)

pipe.fit(X_train, y_train)
pipe.score(X_test, y_test)

1.0

In [18]:
import graphviz
from sklearn.tree import export_graphviz

tree = pipe.named_steps['decisiontreeclassifier']

dot_data = export_graphviz(
    tree,
    feature_names=X_train.columns, 
    class_names=y_train.unique().astype(str), 
    filled=True, 
    proportion=True
)

graphviz.Source(dot_data)

In [19]:
X_train.drop('price', axis = 1, inplace = True)
X_test.drop('price', axis = 1, inplace = True)

In [20]:
pipe.fit(X_train, y_train)
pipe.score(X_test, y_test)

0.9554791337484896

In [ ]:
tree = pipe.named_steps['decisiontreeclassifier']

dot_data = export_graphviz(
    tree,
    feature_names=X_train.columns, 
    class_names=y_train.unique().astype(str), 
    filled=True, 
    proportion=True
)

graphviz.Source(dot_data)

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú(Github - Discussion)

> Ïù¥Î≤à Ïä§ÌîÑÎ¶∞Ìä∏ÏóêÏÑúÎäî ÌîÑÎ°úÏ†ùÌä∏Î•º ÏúÑÌï¥ ÏàòÍ∞ïÏÉù Í∞ÅÏûêÍ∞Ä Ï†ïÌïú Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ ÎèÑÏ†ÑÍ≥ºÏ†úÎ•º ÏàòÌñâÌï©ÎãàÎã§. ÏÑ∏ÏÖòÏù¥ ÏßÑÌñâÎê®Ïóê Îî∞Îùº Ï∞®Î°ÄÎ°ú ÎèÑÏ†ÑÍ≥ºÏ†úÎ•º ÏàòÌñâÌïòÎ©∞ Î™®Îç∏ Ìï¥ÏÑùÍπåÏßÄ ÏßÑÌñâÌï¥ Î≥º Ïàò ÏûàÏäµÎãàÎã§. <br>
Îã®, ÎèÑÏ†ÑÍ≥ºÏ†úÎäî optinalÏûÖÎãàÎã§. Ïö∞ÏÑ†ÏùÄ Ïó¨Îü¨Î∂ÑÏù¥ ÏÑ†ÌÉùÌïú Î¨∏Ï†úÎ•º Ïôú Ìï¥Í≤∞Ìï¥Ïïº ÌïòÎäîÏßÄ, Ìï¥Í≤∞Ìï®ÏúºÎ°úÏç® Ïñ¥Îñ§ Í∞ÄÏπòÍ∞Ä Ï∞ΩÏ∂úÎêòÎäîÏßÄ Ï∂©Î∂ÑÌûà Í≥†ÎØºÌï¥ Î≥¥ÏÑ∏Ïöî. Í∑∏Î¶¨Í≥† ÌîÑÎ°úÏ†ùÌä∏Î•º ÏúÑÌïú Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏµúÏ¢Ö ÏÑ†ÌÉùÌïòÍ∏∞ÍπåÏßÄ Ïó¨Îü¨ Í∞ÄÎä•Ìïú Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÇ¥Ìé¥Î≥¥Í≥†, Ìï¥Îãπ Îç∞Ïù¥ÌÑ∞ÏÖãÏù¥ Ìï¥Í≤∞ÌïòÍ≥†Ïûê ÌïòÎäî Î¨∏Ï†úÎ•º ÌíÄÍ∏∞Ïóê Ï†ÅÏ†àÌïúÏßÄ Î®ºÏ†Ä Í≤ÄÌÜ†Ìï¥ Î≥¥ÏãúÍ∏∞ Î∞îÎûçÎãàÎã§.

### 1) ÌÉÄÍ≤üÏúºÎ°ú ÏÇ¨Ïö©Ìï† ÌäπÏÑ±ÏùÑ ÏÑ†ÌÉùÌï©ÎãàÎã§.
Ïó¨Îü¨Î∂ÑÎì§Ïù¥ ÌîÑÎ°úÏ†ùÌä∏Ïóê ÏÇ¨Ïö©Ìï† Îç∞Ïù¥ÌÑ∞ÏÖãÍ≥º ÌÉÄÍ≤ü ÌäπÏÑ±Ïóê ÎåÄÌïòÏó¨ Îã§Ïùå ÎÇ¥Ïö©ÏùÑ Ìè¨Ìï®Ìï¥ Í∞ÑÎûµÌûà ÏÑ§Î™ÖÌïòÏÑ∏Ïöî. 
- `df.dtypes`Î•º ÏÇ¨Ïö©Ìï¥ÏÑú ÌÉÄÍ≤ü ÌäπÏÑ±Ïùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ ÌôïÏù∏
- `df.describe()`Î•º ÏÇ¨Ïö©Ìï¥ÏÑú ÌÉÄÍ≤ü ÌäπÏÑ±Ïùò ÌÜµÍ≥ÑÏπò ÌôïÏù∏(Ïã§ÏàòÌòï: ÌèâÍ∑†Í∞í , Î≤îÏ£ºÌòï: ÏµúÎπàÍ∞í)

In [32]:
data.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
count,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205
unique,2,6,3,2,2,2,2,3,2,3,3,2,3,3
top,Boy,21-25,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
freq,663,374,530,823,901,935,1004,878,695,775,840,995,1013,625

### 2) ÌíÄÍ≥†Ïûê ÌïòÎäî Î¨∏Ï†úÍ∞Ä Î∂ÑÎ•ò/ÌöåÍ∑Ä Î¨∏Ï†úÏù∏ÏßÄ Ï†ïÌï©ÎãàÎã§.

In [36]:
data_enc.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,2,1,1,1,1,1,2,1,2,1,2,2,2,1
2,2,2,2,2,1,1,1,1,1,1,2,1,2,1
3,2,3,3,1,1,1,1,1,2,1,2,1,2,1
4,2,2,3,1,1,1,1,2,2,2,3,1,2,2

### 3) ÌÉÄÍ≤üÏùò Î∂ÑÌè¨Î•º Î∂ÑÏÑùÌïòÍ≥† ÏÇ¨Ïö©Ìï† ÌèâÍ∞ÄÏßÄÌëúÎ•º ÏÑ†ÌÉùÌï©ÎãàÎã§. ÌèâÍ∞ÄÏßÄÌëúÎ•º ÏÑ†ÌÉùÌïú Ïù¥Ïú†Î•º ÏÑ§Î™ÖÌïòÏÑ∏Ïöî.
- Î∂ÑÎ•ò
  - ÌÅ¥ÎûòÏä§Í∞Ä Î™á Í∞úÏù∏ÏßÄ? ÌÅ¥ÎûòÏä§ ÎπÑÏú®Ïù¥ Ïñ¥Îñ§ÏßÄ(balance or imbalance)?
  - Îã§Ïàò ÌÅ¥ÎûòÏä§(majority class) ÎπÑÏú®Ïù¥ 50%~70%Ïù∏ Í≤ΩÏö∞ Ï†ïÌôïÎèÑ(accuracy)Îßå ÏÇ¨Ïö©Ìï¥ÎèÑ Î¨¥Î∞©Ìï©ÎãàÎã§. ÌïòÏßÄÎßå Î≤îÏúÑÎ•º ÎÑòÏñ¥ÏÑ§ Í≤ΩÏö∞ Ï†ïÌôïÎèÑÎßåÏùÑ ÏÇ¨Ïö©Ìï¥ÏÑúÎäî Î™®Îç∏ÏùÑ ÏûòÎ™ª Ïù¥Ìï¥Ìï† Ïàò ÏûàÏäµÎãàÎã§. Ïñ¥Îñ§ ÌèâÍ∞ÄÏßÄÌëúÎ•º ÏÇ¨Ïö©Ìï¥Ïïº Ìï†ÍπåÏöî?
- ÌöåÍ∑Ä
  - ÌÉÄÍ≤ü Î∂ÑÌè¨Í∞Ä right-skewedÏù∏ÏßÄ? log-transformÏùÑ ÏÇ¨Ïö©Ìï† Í≤ÉÏù∏ÏßÄ? 
  - MAE, RMSE, $R^2$ Îì±ÏùÑ ÏÇ¨Ïö©Ìï† Ïàò ÏûàÏäµÎãàÎã§.

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###